target
pom.xml.versionsBackup
TESTS-TestSuites.xml
*.db
*/dat/out
#Directories
.idea
# to allow each developer customize sonarlint
org.sonarlint.eclipse.core.prefs
# Files created by RETORCH orch tool
/retorch-orchestration/retorchfiles/envfiles/
/retorch-orchestration/retorchfiles/scripts/
